
.dokuwiki .plugin_loadskin {
    float: right;
    clear: right;
    margin-bottom: .5em;
}
[dir=rtl] .dokuwiki .plugin_loadskin {
    float: left;
    clear: left;
}

.dokuwiki .plugin_loadskin form label {
    background: transparent url(images/color_swatch.png) no-repeat 0 center;
    padding-left: 20px;
}
[dir=rtl] .dokuwiki .plugin_loadskin form label {
    background-position: right center;
    padding-left: 0;
    padding-right: 20px;
}

.dokuwiki .plugin_loadskin form label span {
    display: none;
}

.dokuwiki div.toc,
.dokuwiki #dw__toc {
    clear: right;
}
[dir=rtl] .dokuwiki div.toc,
[dir=rtl] .dokuwiki #dw__toc {
    clear: left;
}

/* adjustments to the admin section */
#plugin__loadskin fieldset {
    margin: 0 0 1.4em;
    text-align: left;
}
#plugin__loadskin fieldset label span {
    display: block;
}
#plugin__loadskin fieldset p {
    margin-bottom: .7em;
}

/* adjustments for the default dokuwiki template */

.tpl_dokuwiki .plugin_loadskin {
    border: solid #ccc;
    border-width: 0 0 0 1px;
    margin: -1.556em -2em 1.5em 0;
    padding: .5em 1em;
    width: 14em;
}
.tpl_dokuwiki .plugin_loadskin form {
    float: right;
}
[dir=rtl] .tpl_dokuwiki .plugin_loadskin {
    border-width: 0 1px 0 0;
    margin-left: -2em;
    margin-right: 0;
}
[dir=rtl] .tpl_dokuwiki .plugin_loadskin form {
    float: left;
}
